<div class="thumbnail">

    <div class="thumbnail-title">
        <a class="thumbnail-name" href="{{business.url}}">{{business.name}}</a>
        <a title="(website)" ng-href="{{business.storeUrl}}">(Website)</a>
    </div>
    <div class="thumbnail-category">Category: {{business.category}}</div>
    <div class="thumbnail-address">
        <div>{{business.address}}</div>
        <div ng-click="showCompass(business)">
            <img ng-show="business.showDirection" src="assets/images/arrow645.png" class="thumbnail-direction-icon" ng-style="{transform: getDirection(),'-webkit-transform': getDirection()}" title="Direction">
            <span>{{getDistance()}} {{units}}</span>
        </div>
    </div>

</div>