<div>
    <div>
        Filter By:
        <select ng-model="filterBy"
                ng-options="business.category for business in list | unique:'category'">
            <option value="">All</option>
        </select>
    </div>
    <div>
        Sort By:
        <input type="radio" id="sortByName" value="name" ng-model="sortOrder"/><label for="sortByName">Name</label>
        <input type="radio" id="sortByCategory" value="category" ng-model="sortOrder"/><label for="sortByCategory">Category</label>
        <input type="radio" id="sortByDistance" value="distance" ng-model="sortOrder"/><label for="sortByDistance">Distance</label>
    </div>
    <ul>
        <li ng-repeat="business in list | orderBy:sortOrder | filter:{category:filterBy.category}" class="business-list">
            <local-omaha-business-thumbnail business="business" user-location="userLocation" user-device-orientation="userDeviceOrientation" show-compass="showCompass(business)"></local-omaha-business-thumbnail>
        </li>
    </ul>
</div>