#compass-business {
    float: left;
    width: 80%;
    padding: 0.5em;
}

#close-compass {
    float: right;
    width: 8%;
    font-size: 1.5em;
    cursor: pointer;
}

.business-name, .business-distance {
    font-size: 1.5em;
}

.compass-container {
    position: relative;
    clear: both;
}

.compass-background, .compass-hands, .compass-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width:auto;
    height:auto;
}

.compass-hands {
    z-index: 5;
}

.compass-head {
    z-index: 10;
}

.compass-image {
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
    margin:0 auto;
}

.business-list {
    list-style: none;
}

.thumbnail {
    margin-bottom: 15px;
}

.thumbnail-title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.thumbnail-name {
    margin-right: 15px;
    font-size: 24px;
    margin-bottom: 5px;
}

.thumbnail-category {
    font-size: 14px;
    margin-bottom: 10px;
}

.thumbnail-address {
    display: flex;
    align-items: baseline;
}

.thumbnail-direction-icon {
    cursor: pointer;
    margin-left: 10px;
}